.activity-table {
    border-collapse: collapse;
    width: 100%;
}

.activity-table th {
    border-bottom: 1px solid #dcdcdd;
    text-align: center;
    font-size: .9em;
}

.activity-table td {
    padding-top: .8em;
    font-size: .8em;
}

.activity h2 {
    font-size: 1em;
}

.truncate-cell {
    max-width: 100px; /* Adjust the max width as per your design */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.time {
    text-align: center;
}