.creation-container {
    text-align: center; /* Center horizontally */
    max-width: 70vh; /* Set a maximum width for the form */
    margin: 10vh auto; /* Center horizontally */
    padding-top: 20px; /* Add padding for spacing inside the form */
    border: 1px solid #dcdcdd; /* Optional: Add a border for styling */
}

.creation-container input {
    border: none;
    border-bottom: 1px solid #dcdcdd; /* Optional: Add a border for styling */
    margin-right: 5px;
    width: 9rem;
}

/* Center the swap symbol */
.swap {
    margin: 0;
    padding: 0;
    font-size: 25px;
    display: block;
    margin: 0 auto; /* Center horizontally */
}

/* Ensure the lists have consistent spacing */
.creation-container ul {
    padding-left: 0;
    list-style: none;
}

/* Style list items */
.creation-container ul li {
    margin: 5px 0;
}

.have-header, .want-header {
    text-align: left;
    margin: 1em;
}

.creation-container fieldset {
    border: 1px solid #dcdcdd;
    margin-left: 20px;
    margin-right: 20px;
}

.creation-container button {
    background-color: #fff;
    border: 1px solid #dcdcdd;
}

#submitBtn {
    width: 100%;
    margin-top: 20px;
    border: none;
    border-top: 1px solid #dcdcdd;
    padding: 10px;
    cursor: pointer;
    background-color: #f3f3f4;
    font-size: 1em;
}

@media screen and (max-width: 1280px) {
    .creation-container {
        max-width: 100vh; /* Set a maximum width for the form */
    }

    .creation-container input {
        width: 8rem;
    }
}

@media screen and (max-width: 854px) {
    .creation-container {
        max-width: 120vh; /* Set a maximum width for the form */

    }

    .creation-container input {
        width: 6rem;
    }
}