.filter {
    max-width: 100%;
}

.filter h2 {
    font-size: 1rem;
}

.filter ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.filter li {
    padding-bottom: 1rem;
    font-size: 1rem;
}

.item-checkbox {
    margin-right: .7rem;
    width: .7rem;
    height: .7rem;
}

@media screen and (max-width: 1280px) {
    .filter h2 {
        font-size: .9rem;
    }

    .filter li {
        font-size: .8rem;
    }

    .item-checkbox {
        margin-right: .4rem;
        width: .55rem;
        height: .55rem;
    }
}

@media screen and (max-width: 854px) {
    .filter h2 {
        font-size: .7rem;
    }

    .filter li {
        font-size: .5rem;
    }

    .item-checkbox {
        margin-right: .2rem;
        margin-left: 0;
        width: .3rem;
        height: .3rem;
    }
}