.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1.5fr; /* Three equal columns */
    gap: 10px;
    height: calc(100vh - 61px);
}

.left-sidebar {
    padding: .25em 1em;
    border-right: 1px solid #dcdcdd;
    overflow: scroll;
}

.right-sidebar {
    padding: .25em 1em;
    border-left: 1px solid #dcdcdd;
    overflow: scroll;
}

.content {
    padding: 1em;
    margin-top: .5em;
    overflow: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.left-sidebar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.left-sidebar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.right-sidebar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.right-sidebar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}