.login-form-container {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Move the form back by half of its own width and height */
    width: 300px; /* Set a maximum width for the form */
    border: 1px solid #dcdcdd; /* Optional: Add a border for styling */
}

.login-form-container h2 {
    margin: 20px;
    font-size: 1.25em;
}

.login-elements input {
    display: block;
    margin: 20px;
    padding-left: 5px;
    width: 250px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #dcdcdd;
}

.login-button {
    height: 35px;
    width: 300px;
    border: none;
    border-top: 1px solid #dcdcdd;
    background-color: #f3f3f4;
    margin-top: 20px;
    cursor: pointer;
}

.error {
    text-align: center;
    color: red;
    font-size: .7em;
}
