.incoming-component h2, .outgoing-component h2 {
    font-size: 1em;
    text-align: center;
}

.incoming-component, .outgoing-component {
    display: block;
}

.incoming-item .original {
    background-color: #f3f3f4;
    border: 1px solid #dcdcdd;
    border-bottom: .5px solid #dcdcdd;
}

.incoming-item .offered {
    border: 1px solid #dcdcdd;
    border-top: .5px solid #dcdcdd;
}

.incoming-item ul {
    display: flex;
    list-style-type: square;
    margin: 0;
    font-size: .8em;
}

.incoming-item li {
    margin-right: 20px
}

.label {
    font-size: .8em;
}

.outgoing-item .original {
    background-color: #f3f3f4;
    border: 1px solid #dcdcdd;
    border-top: .5px solid #dcdcdd;
}

.outgoing-item .offered {
    border: 1px solid #dcdcdd;
    border-bottom: .5px solid #dcdcdd;
}

.outgoing-item ul {
    display: flex;
    list-style-type: square;
    margin: 0;
    font-size: .8em;
}

.outgoing-item li {
    margin-right: 20px
}

.label-header {
    display: flex;
    justify-content: space-between;
}

.status {
    margin-left: auto;
    font-size: .75em;
}

.action {
    border:none;
    background-color: #ffffff;
    font-size: 0.7em;
    padding-top: 0;
    padding-bottom: 0;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Move the buttons to the right within the container */
}

#accept-btn {
    border-right: .5px solid #000000;
}

#decline-btn {
    border-left: .5px solid #000000;
}

.offer-status {
    font-size: 0.7em;
    display: flex;
    justify-content: flex-end; /* Move the buttons to the right within the container */
}



