#container {
  display: grid;
  grid-template-columns: 1fr 4fr 1.5fr; /* Three equal columns */
  gap: 10px;
}

#left-sidebar {
  padding: .25em 1em;
  border-right: 1px solid #dcdcdd;
}

#right-sidebar {
  padding: .25em 1em;
  border-left: 1px solid #dcdcdd;
}
#content {
  padding: 1em;
  margin-top: .5em;
  min-height: 89vh; /* Set a fixed minimum height for the content column */
  max-height: 89vh; /* Set a fixed maximum height for the content column */
  overflow: auto; /* Add a scrollbar when content overflows */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}