.container {
  display: grid;
  grid-template-columns: 1fr 4fr 1.5fr; /* Three equal columns */
  gap: 10px;
}

.left-sidebar {
  padding: 10px;
  border-right: 1px solid #dcdcdd;

}

.right-sidebar {
  padding: 10px;
  border-left: 1px solid #dcdcdd;
}
.content {
  padding: 10px;
}
