.filter {
    max-width: 100%;
}

.filter h2 {
    font-size: 1em;
}

.filter ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.filter li {
    padding-bottom: 1rem;
}

.item-checkbox {
    margin-right: .65rem;
}
